.cards {
    display: inline-block;
    transition: transform 0.4s ease-in-out; /* Smoother hover transition */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    cursor: pointer;
    min-width: 200px;
    height: 300px;
    z-index: 0;
    border: 1px solid rgb(99, 99, 99);
    text-align: center; /* Center content horizontally */
    align-self: center; /* Center card div */
}

.cards:hover {
    transform: scale(1.1);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards_overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}

.cards:hover .cards_overlay {
    opacity: 1;
}

.cards_title, .cards_runtime, .cards_description {
    color: white;
    text-align: center;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Smooth text transition */
    transform: translateY(20px);
    opacity: 0;
}

.cards:hover .cards_title,
.cards:hover .cards_runtime,
.cards:hover .cards_description {
    transform: translateY(0); /* Text slides in on hover */
    opacity: 1; /* Text fades in */
}

.cards_title {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.cards_runtime {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.cards_description {
    font-style: italic;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
